<div class="row">
  <div class="col-lg-12 main-chart">
    <div class="row mtbox">
      <div class="col-md-2 col-sm-2 col-md-offset-1 box0">
        <div class="box1">
          <span class="li_data"></span>
          <h3>1</h3>
        </div>
        <p>1 registered</p>
      </div>
      <div class="col-md-2 col-sm-2 box0">
        <div class="box1">
          <span class="li_stack"></span>
          <h3>23</h3>
        </div>
        <p>You have 23 unread messages in your inbox.</p>
      </div>
    </div>
  </div>
</div>
