<div class="row mtbox">
  <div class="col-md-2 col-sm-2  box0">
    <div class="box1">
      <span class="li_data"></span>
      <h3>{{questionsCount}}</h3>
    </div>
    <p>Questions in our database</p>
  </div>
  <div class="col-md-2 col-sm-2 box0">
    <div class="box1">
      <span class="li_stack"></span>
      <h3>{{usersCount}}</h3>
    </div>
    <p>Registered users in our database.</p>
  </div>
  <div class="col-md-2 col-sm-2 box0">
    <div class="box1">
      <span class="li_cloud"></span>
      <h3>{{categoriesCount}}</h3>
    </div>
    <p>Categories already added in our storage.</p>
  </div>
</div>
