<header class="header black-bg">
  <div class="sidebar-toggle-box">
    <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
  </div>
  <!--logo start-->
  <a routerLink="/app/home" routerLinkActive="active" class="logo"><b>Admin Dashboard</b></a>
  <!--logo end-->
  <div class="top-menu">
    <ul class="nav pull-right top-menu">
      <li><button type="button" class="logout" (click)="logout()">Logout</button></li>
    </ul>
  </div>
</header>
<aside>
  <div id="sidebar"  class="nav-collapse ">
    <ul class="sidebar-menu" id="nav-accordion">

      <li class="mt">
        <a routerLink="/admin/home" routerLinkActive="active">
          <i class="fa fa-dashboard"></i>
          <span>Home</span>
        </a>
      </li>
      <li class="mt">
        <a routerLink="/admin/categories" routerLinkActive="active">
          <i class="fa fa-dashboard"></i>
          <span>Add Category</span>
        </a>
      </li>
      <li class="mt">
        <a routerLink="/admin/questions" routerLinkActive="active">
          <i class="fa fa-dashboard"></i>
          <span>New Question</span>
        </a>
      </li>
      <li class="mt">
        <a routerLink="/admin/delete" routerLinkActive="active">
          <i class="fa fa-dashboard"></i>
          <span>Delete Section</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
