<form class="form-horizontal style-form mtbox" #createForm="ngForm" (ngSubmit)="createCategory()" *ngIf="category && score && questions">
  <h3 style= "margin: 0 0 30px 0px">{{category.categoryName}}</h3>
  <ul class="inline-list">
    <li>
      <h4>Previous Score : {{score.value}}</h4>
    </li>
    <li class="text-right">
      <h4>Current Score : {{scoreCount}}</h4>
    </li>
  </ul>
  <ul class="question-list">
    <li *ngFor="let question of questions | paginate: { itemsPerPage: 10, currentPage: p } ; let i = index;" class="strong">
      <div class="question">{{i+1}}. {{question.question}}</div>
      <ul [class.cursor] = "question.displayAnswer">
        <li *ngFor="let ans of question.answers; let i = index;" >
          <a *ngIf="ans === question.correctAnswer" (click)="validateAnswer($event.target, ans, question)" href="javascript:void(0)" [style.color]="getCorrectAnswerColor(question)">{{i+1}} : {{ans}}</a>
          <a *ngIf="ans !== question.correctAnswer" (click)="validateAnswer($event.target, ans, question)" href="javascript:void(0)">{{i+1}} : {{ans}}</a>
        </li>
      </ul>
      <div class="answer">
        <button class="logout" type="button" (click)="showAnswer(question)"><span class="hide ">Hide Answer</span><span class="show">Show Answer</span></button>
        <div [class.display]="!question.displayAnswer" class="step">
          <p>Answer: {{question.correctAnswer}} <br> Description: {{question.description}}</p>
        </div>
      </div>
    </li>
    <div class="text-center">
      <button type="button" class="save-score" (click)="updateScore(scoreCount)">Save Current Score</button>
    </div>
  </ul>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</form>

