<form class="form-horizontal style-form mtbox" #createForm="ngForm" (ngSubmit)="createCategory()">
  <h3 style= "margin: 0 0 17px 140px">{{category.categoryName}}</h3>
  <h4>previous score : {{score}}</h4>
  <h4>current score : {{scoreCount}}</h4>
  <button type="button" (click)="createScore(scoreCount)">save current score</button>
  <ul>
    <li *ngFor="let question of questions | paginate: { itemsPerPage: 5, currentPage: p } ; let i = index;" class="strong">
      {{question.question}}
      <ul [class.cursor] = "question.displayAnswer">
        <li *ngFor="let ans of question.answers; let i = index;" >
          <a *ngIf="ans === question.correctAnswer" (click)="validateAnswer($event.target, ans, question)" href="javascript:void(0)" [style.color]="getCorrectAnswerColor(question)">{{i+1}} {{ans}}</a>
          <a *ngIf="ans !== question.correctAnswer" (click)="validateAnswer($event.target, ans, question)" href="javascript:void(0)">{{i+1}} {{ans}}</a>
        </li>
        <div class="answer">
          <button type="button" (click)="showAnswer(question)"><span class="hide">Hide Answer</span><span class="show">Show Answer</span></button>
          <div [class.display]="!question.displayAnswer" class="step">
            <p>Answer: {{question.correctAnswer}} <br> Description: {{question.description}}</p>
          </div>
        </div>
      </ul>
    </li>
  </ul>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</form>

